/****************Fonts****************/
@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff'),
        url('HelveticaNeue-Medium.ttf') format('truetype'),
        url('HelveticaNeue-Medium.svg#HelveticaNeue-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Light.woff2') format('woff2'),
        url('HelveticaNeue-Light.woff') format('woff'),
        url('HelveticaNeue-Light.ttf') format('truetype'),
        url('HelveticaNeue-Light.svg#HelveticaNeue-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue.woff2') format('woff2'),
        url('HelveticaNeue.woff') format('woff'),
        url('HelveticaNeue.ttf') format('truetype'),
        url('HelveticaNeue.svg#HelveticaNeue') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('HelveticaNeue-Bold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Bold.woff2') format('woff2'),
        url('HelveticaNeue-Bold.woff') format('woff'),
        url('HelveticaNeue-Bold.ttf') format('truetype'),
        url('HelveticaNeue-Bold.svg#HelveticaNeue-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/************common******/
body,h1, h2, h3, h4, h5, h6, a, p{font-family: 'Helvetica Neue';}
a, a:hover{text-decoration: none;color: inherit;}

/****************color****************/

.pink_cl{color:#F6D4D3;}
.grey_cl{color:#4C4D5D;}
.lt_gre_cl{color:#AEAFBD;}

/********************************home******************************/
.head_banner{background:url('../img/top_bg.png')no-repeat;height: 635px;width: 100%;
    background-size: cover;}
.main_nav .navbar-nav .nav-item{padding:0 20px}
.main_nav .navbar-nav .nav-item .nav-link.active{background:url('../img/active-nav.png')no-repeat;background-position:bottom center}
.banner_box{padding:80px 0;}
.banner_box p{font-size: 20px;}
.banner_box h1{font-family: 'Philosopher', sans-serif;font-weight: 700;}
.google_store img,.apple_store img{width: 160px;}
.banner_img{width: 480px;}
.common_hd_wrap p{width: 700px; margin: 0 auto;}
.common_hd_wrap h6{margin:0 auto 20px;padding:8px 10px;border-radius:20px;background-color: #F5F5F5;color:#8A8B95;width: 200px;text-align: center;}
.common_hd_wrap h2{font-family: 'Philosopher', sans-serif;font-weight: 700;font-size: 38px;color:#4C4D5D;background: url('../img/pattern_divider.png')no-repeat;background-position: bottom center;padding-bottom: 35px;
    margin-bottom: 15px;}
.features_wrap{padding:120px 0 0    ;margin-bottom: 100px;}
.common_hd_wrap p{font-size: 18px;color:#AEAFBD}
.feature_box h4{font-family: 'Philosopher', sans-serif;font-weight: 700;font-size: 32px;}
.feature_box img{width: 90px;margin-bottom: 25px;}
.feature_box{padding:50px 20px;
    border-radius: 35px;
    box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%);
    -webkit-box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%);
    -moz-box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%)}
.work_hd.common_hd_wrap{width: 210px;margin:10px;}
.video_work_wrap p,.feature_list li{font-size: 18px;color: #AEAFBD;}
.feature_box p{font-size: 16px;color: #AEAFBD;}
.feature_list li::before{background:url('../img/bullets.png')no-repeat;content:'';position:absolute;left:0;right: 0;width: 30px;height:30px;top: 8px;}
.feature_list li{padding-left:30px;margin-bottom: 10px;}
.work_videos{background:url('../img/video-img.png')no-repeat;background-size: contain;height: 100%;width: 100%;margin-top:20px}
.work_wrap{background: #f5f5f5;padding: 60px 0;}
.app_sec_wrap{margin: 100px 0 150px;}
.app_slider_wrap .owl-theme .owl-nav,.app_slider_wrap .owl-theme .owl-dots{display: none;}
.launch_wrap{background:#4C4D5D;padding:100px 0 0;margin-bottom: 180px;}
.launch_hd p{width: 380px;}
.launch_img img{margin-bottom: -85px;}
.launcher{background: #fff;/*width: 330px;*/text-align: center;border-radius: 70px;margin: -145px auto 0;
    box-shadow: 0px -2px 9px 1px rgb(204 204 204 / 25%);
    -webkit-box-shadow:0px -2px 9px 1px rgb(204 204 204 / 25%);
    -moz-box-shadow: 0px -2px 9px 1px rgb(204 204 204 / 25%)}
.timer span::after{content:':';left: 20px;position: relative;top:-3px}
.timer li:last-child span::after{display: none;}
/********launcher***********/
.timer li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
    padding: 5px 10px;
    color: #8A8B95;
}
.timer li span {
    display: block;
    font-weight: 600;
    font-size: 44px;
    color: #000;
    line-height: 50px;
}
.contact_us_box{border-radius: 30px;padding:60px;margin:0 100px 100px;
    box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%);
    -webkit-box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%);
    -moz-box-shadow: 0px 0px 18px 0px rgb(166 165 165 / 30%)}
 
.form_controls textarea{height:150px;background: #F2F2F2;border-color: #F2F2F2;}
.form_controls label{color: #4C4D5D;}
.form_controls input[type="text"]{background: #F2F2F2;border-color: #F2F2F2;height: 45px;}
.form_btn{margin:0 auto;text-align: center;}
.form_btn button,.form_btn button:hover{background:#111111;color:#fff;padding:10px 40px;}
.footer_wrap{background:#4C4D5D;padding:30px 0;}
.footer_menu ul li{padding:0 15px;}
.footer_menu ul li:hover{color:#F6D4D3;}
.social_media a{width: 30px;height: 30px;border-radius: 4px;border: 1px solid #fff;margin-right: 20px;display: flex;justify-content: center; align-items: center;transition:all ease-in-out 0.5s;}
.social_media a:hover{background: #fff;transition:all ease-in-out 0.5s;}
.social_media a:hover svg path{fill:#4C4D5D;transition:all ease-in-out 0.5s;}
.ft_hr{background-color: #8A8B95;}
.footer_sec p span{color:#F6D4D3}
.footer_sec p{font-size: 14px;}